Nucleo.View/obj/project.nuget.cache
Nucleo.View/obj/project.assets.json
Nucleo.View/obj/Nucleo.View.csproj.nuget.g.props
Nucleo.View/obj/Nucleo.View.csproj.nuget.dgspec.json
Nucleo.View/obj/Debug/netcoreapp3.1/Nucleo.View.assets.cache
Nucleo.View/obj/project.assets.json
Nucleo.View/obj/Nucleo.View.csproj.nuget.g.props
Nucleo.View/obj/Nucleo.View.csproj.nuget.dgspec.json
Nucleo.View/obj/Debug/netcoreapp3.1/Nucleo.View.assets.cache
/Nucleo.View/obj
/Nucleo.Operacoes/bin
