Nucleo.View/obj/project.nuget.cache
Nucleo.View/obj/project.assets.json
Nucleo.View/obj/Nucleo.View.csproj.nuget.g.props
Nucleo.View/obj/Nucleo.View.csproj.nuget.dgspec.json
Nucleo.View/obj/Debug/netcoreapp3.1/Nucleo.View.assets.cache
Nucleo.View/obj/project.assets.json
Nucleo.View/obj/Nucleo.View.csproj.nuget.g.props
Nucleo.View/obj/Nucleo.View.csproj.nuget.dgspec.json
Nucleo.View/obj/Debug/netcoreapp3.1/Nucleo.View.assets.cache
/Nucleo.View/obj
/Nucleo.Operacoes/bin
/Nucleo.Forms/obj
/Nucleo.Data/obj
/.vs
API/Nucleo.API.Core/bin/Debug/net8.0/Nucleo.API.Core.pdb
API/Nucleo.API.Core/bin/Debug/net8.0/Nucleo.API.Core.dll
API/Nucleo.API.Core/bin/Debug/net8.0/Nucleo.API.Core.deps.json
API/Nucleo.API.Core/bin/Debug/net7.0/Nucleo.API.pdb
API/Nucleo.API.Core/bin/Debug/net7.0/Nucleo.API.dll
API/Nucleo.API.Core/bin/Debug/net7.0/Nucleo.API.deps.json
/API/Nucleo.API.Core/obj
/API/Nucleo.API/obj
/Base/bin
/Base/bin
/Base/obj
/Base/obj
/Base/obj/Debug
/Nucleo.Data/bin
