@page
@model Pages.Cadastro.MenuModel
@{
    ViewData["Title"] = "Menu de Cadastro";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Painel de Cadastros</h2>
    <div class="row justify-content-center">
        <!-- Botão para Cliente -->
        <div class="col-6 col-md-3 mb-3">
            <a href="/CadCliente" class="btn btn-secondary btn-block d-flex align-items-center justify-content-center">
                <i class="bi bi-house-door me-2"></i> Cliente
            </a>
        </div>

        <!-- Botão para Produto -->
        <div class="col-6 col-md-3 mb-3">
            <a href="/CadProduto" class="btn btn-secondary btn-block d-flex align-items-center justify-content-center">
                <i class="bi bi-info-circle me-2"></i> Produto
            </a>
        </div>

        <!-- Botão para Kit -->
        <div class="col-6 col-md-3 mb-3">
            <a href="/CadKit" class="btn btn-secondary btn-block d-flex align-items-center justify-content-center">
                <i class="bi bi-info-circle me-2"></i> Kit
            </a>
        </div>

        <!-- Botão para Usuário -->
        <div class="col-6 col-md-3 mb-3">
            <a href="/CadUsuario" class="btn btn-secondary btn-block d-flex align-items-center justify-content-center">
                <i class="bi bi-envelope me-2"></i> Usuário
            </a>
        </div>
    </div>
</div>
